body {
  background-color: white;
  color: black;
}
#pageContainer {
  position: relative;
  flex: 1;
}
#textLayer {
  position: absolute;
  top: 0;
  left: 0;
  --scale-round-x: 1px;
  --scale-round-y: 1px;
}
#pageNum {
  width: 3em;
}
#zoomLevel {
  width: 4em;
}
#addCommentBtn {
  position: absolute;
  display: none;
  z-index: 10;
}
#highlightLayer {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
#readerLayout {
  display: flex;
}
#commentRail{
  width: 300px;
  overflow-y: auto;
}
